<settings>
	<setting propertyKey="@Properties.AppVersion" title="@Strings.AppNameVersion">
		<settingConfig type="alphaNumeric" readonly="true"/>
	</setting>

	<setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.ThemeBlueDark</listEntry>
			<listEntry value="1">@Strings.ThemePinkDark</listEntry>
			<listEntry value="7">@Strings.ThemeRedDark</listEntry>
			<listEntry value="2">@Strings.ThemeGreenDark</listEntry>
			<listEntry value="4">@Strings.ThemeCornflowerBlueDark</listEntry>
			<listEntry value="5">@Strings.ThemeLemonCreamDark</listEntry>
			<listEntry value="12">@Strings.ThemeVividYellowDark</listEntry>
			<listEntry value="14">@Strings.ThemeCornYellowDark</listEntry>
			<listEntry value="6">@Strings.ThemeDaygloOrangeDark</listEntry>
			<listEntry value="8">@Strings.ThemeMonoDark</listEntry>
			<listEntry value="3">@Strings.ThemeMonoLight</listEntry>
			<listEntry value="9">@Strings.ThemeBlueLight</listEntry>
			<listEntry value="10">@Strings.ThemeGreenLight</listEntry>
			<listEntry value="11">@Strings.ThemeRedLight</listEntry>
			<listEntry value="13">@Strings.ThemeDaygloOrangeLight</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.ThemeOverride" title="@Strings.ThemeOverride" prompt="@Strings.ThemeOverridePrompt">
		<settingConfig type="alphaNumeric" maxLength="6"/>
	</setting>
	<setting propertyKey="@Properties.ThemeLightOverride" title="@Strings.ThemeLightOverride">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.UseComplications" title="@Strings.UseComplications">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.ComplicationName" title="@Strings.ComplicationName">
		<settingConfig type="alphaNumeric" maxLength="64"/>
	</setting>

	<setting propertyKey="@Properties.LeftGoalType" title="@Strings.LeftGoalMeterTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Steps</listEntry>
			<listEntry value="1">@Strings.FloorsClimbed</listEntry>
			<listEntry value="2">@Strings.ActiveMinutes</listEntry>
			<listEntry value="-1">@Strings.Battery</listEntry>
			<listEntry value="-2">@Strings.CaloriesManualGoal</listEntry>
			<listEntry value="-3">@Strings.ActiveCaloriesManualGoal</listEntry>
			<listEntry value="-4">@Strings.BodyBattery</listEntry>
			<listEntry value="-5">@Strings.StressLevel</listEntry>
			<listEntry value="-6">@Strings.Off</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.RightGoalType" title="@Strings.RightGoalMeterTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Steps</listEntry>
			<listEntry value="1">@Strings.FloorsClimbed</listEntry>
			<listEntry value="2">@Strings.ActiveMinutes</listEntry>
			<listEntry value="-1">@Strings.Battery</listEntry>
			<listEntry value="-2">@Strings.CaloriesManualGoal</listEntry>
			<listEntry value="-3">@Strings.ActiveCaloriesManualGoal</listEntry>
			<listEntry value="-4">@Strings.BodyBattery</listEntry>
			<listEntry value="-5">@Strings.StressLevel</listEntry>
			<listEntry value="-6">@Strings.Off</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.GoalMeterStyle" title="@Strings.GoalMeterStyleTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.AllSegments</listEntry>
			<listEntry value="1">@Strings.AllSegmentsMerged</listEntry>
			<listEntry value="3">@Strings.FilledSegments</listEntry>
			<listEntry value="4">@Strings.FilledSegmentsMerged</listEntry>
			<listEntry value="2">@Strings.Hidden</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.GoalMeterDigitsStyle" title="@Strings.MeterDigitsStyleTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.CurrentTarget</listEntry>
			<listEntry value="1">@Strings.Current</listEntry>
			<listEntry value="2">@Strings.Hidden</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.CaloriesGoal" title="@Strings.CaloriesGoalTitle">
		<settingConfig type="numeric" min="1" max="10000" required="true"/>
	</setting>

	<setting propertyKey="@Properties.FieldCount" title="@Strings.FieldCountTitle">
		<settingConfig type="numeric" min="0" max="3" required="true"/>
	</setting>

	<setting propertyKey="@Properties.Field1Type" title="@Strings.DataField1Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.HeartRate</listEntry>
			<listEntry value="9">@Strings.HeartRateLive5s</listEntry>
			<listEntry value="1">@Strings.Battery</listEntry>
			<listEntry value="8">@Strings.BatteryHidePercentage</listEntry>
			<listEntry value="2">@Strings.Notifications</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="20">@Strings.ActiveCalories</listEntry>
			<listEntry value="4">@Strings.Distance</listEntry>
			<listEntry value="5">@Strings.Alarms</listEntry>
			<listEntry value="6">@Strings.Altitude</listEntry>
			<listEntry value="12">@Strings.Pressure</listEntry>
			<listEntry value="7">@Strings.Temperature</listEntry>
			<listEntry value="10">@Strings.SunriseSunset</listEntry>
			<listEntry value="11">@Strings.Weather</listEntry>
			<listEntry value="13">@Strings.Humidity</listEntry>
			<listEntry value="14">@Strings.PulseOx</listEntry>
			<listEntry value="15">@Strings.FloorsClimbed</listEntry>
			<listEntry value="16">@Strings.SolarIntensity</listEntry>
			<listEntry value="17">@Strings.BodyBattery</listEntry>
			<listEntry value="18">@Strings.RecoveryTime</listEntry>
			<listEntry value="19">@Strings.StressLevel</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.Field2Type" title="@Strings.DataField2Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.HeartRate</listEntry>
			<listEntry value="9">@Strings.HeartRateLive5s</listEntry>
			<listEntry value="1">@Strings.Battery</listEntry>
			<listEntry value="8">@Strings.BatteryHidePercentage</listEntry>
			<listEntry value="2">@Strings.Notifications</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="20">@Strings.ActiveCalories</listEntry>
			<listEntry value="4">@Strings.Distance</listEntry>
			<listEntry value="5">@Strings.Alarms</listEntry>
			<listEntry value="6">@Strings.Altitude</listEntry>
			<listEntry value="12">@Strings.Pressure</listEntry>
			<listEntry value="7">@Strings.Temperature</listEntry>
			<listEntry value="10">@Strings.SunriseSunset</listEntry>
			<listEntry value="11">@Strings.Weather</listEntry>
			<listEntry value="13">@Strings.Humidity</listEntry>
			<listEntry value="14">@Strings.PulseOx</listEntry>
			<listEntry value="15">@Strings.FloorsClimbed</listEntry>
			<listEntry value="16">@Strings.SolarIntensity</listEntry>
			<listEntry value="17">@Strings.BodyBattery</listEntry>
			<listEntry value="18">@Strings.RecoveryTime</listEntry>
			<listEntry value="19">@Strings.StressLevel</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.Field3Type" title="@Strings.DataField3Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.HeartRate</listEntry>
			<listEntry value="9">@Strings.HeartRateLive5s</listEntry>
			<listEntry value="1">@Strings.Battery</listEntry>
			<listEntry value="8">@Strings.BatteryHidePercentage</listEntry>
			<listEntry value="2">@Strings.Notifications</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="20">@Strings.ActiveCalories</listEntry>
			<listEntry value="4">@Strings.Distance</listEntry>
			<listEntry value="5">@Strings.Alarms</listEntry>
			<listEntry value="6">@Strings.Altitude</listEntry>
			<listEntry value="12">@Strings.Pressure</listEntry>
			<listEntry value="7">@Strings.Temperature</listEntry>
			<listEntry value="10">@Strings.SunriseSunset</listEntry>
			<listEntry value="11">@Strings.Weather</listEntry>
			<listEntry value="13">@Strings.Humidity</listEntry>
			<listEntry value="14">@Strings.PulseOx</listEntry>
			<listEntry value="15">@Strings.FloorsClimbed</listEntry>
			<listEntry value="16">@Strings.SolarIntensity</listEntry>
			<listEntry value="17">@Strings.BodyBattery</listEntry>
			<listEntry value="18">@Strings.RecoveryTime</listEntry>
			<listEntry value="19">@Strings.StressLevel</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.IndicatorCount" title="@Strings.IndicatorCountTitle">
		<settingConfig type="numeric" min="0" max="3" required="true"/>
	</setting>

	<setting propertyKey="@Properties.Indicator1Type" title="@Strings.Indicator1Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Bluetooth</listEntry>
			<listEntry value="1">@Strings.Alarms</listEntry>
			<listEntry value="2">@Strings.Notifications</listEntry>
			<listEntry value="3">@Strings.BluetoothOrNotifications</listEntry>
			<listEntry value="4">@Strings.Battery</listEntry>
			<listEntry value="5">@Strings.BatteryNumeric</listEntry>
			<listEntry value="6">@Strings.Tesla</listEntry>
			<listEntry value="7">@Strings.DND</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.Indicator2Type" title="@Strings.Indicator2Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Bluetooth</listEntry>
			<listEntry value="1">@Strings.Alarms</listEntry>
			<listEntry value="2">@Strings.Notifications</listEntry>
			<listEntry value="3">@Strings.BluetoothOrNotifications</listEntry>
			<listEntry value="4">@Strings.Battery</listEntry>
			<listEntry value="5">@Strings.BatteryNumeric</listEntry>
			<listEntry value="6">@Strings.Tesla</listEntry>
			<listEntry value="7">@Strings.DND</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.Indicator3Type" title="@Strings.Indicator3Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Bluetooth</listEntry>
			<listEntry value="1">@Strings.Alarms</listEntry>
			<listEntry value="2">@Strings.Notifications</listEntry>
			<listEntry value="3">@Strings.BluetoothOrNotifications</listEntry>
			<listEntry value="4">@Strings.Battery</listEntry>
			<listEntry value="5">@Strings.BatteryNumeric</listEntry>
			<listEntry value="6">@Strings.Tesla</listEntry>
			<listEntry value="7">@Strings.DND</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.HoursColourOverride" title="@Strings.HoursColourTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FromTheme</listEntry>
			<listEntry value="1">@Strings.MonoHighlight</listEntry>
			<listEntry value="2">@Strings.Mono</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.MinutesColourOverride" title="@Strings.MinutesColourTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.FromTheme</listEntry>
			<listEntry value="1">@Strings.MonoHighlight</listEntry>
			<listEntry value="2">@Strings.Mono</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.HideHoursLeadingZero" title="@Strings.HideHoursLeadingZeroTitle">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.AddColon" title="@Strings.AddColon">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.HideSeconds" title="@Strings.HideSecondsTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.HideSecondsOff</listEntry>
            <listEntry value="1">@Strings.HideSecondsLowPower</listEntry>
            <listEntry value="2">@Strings.HideSecondsAlways</listEntry>
        </settingConfig>
	</setting>

	<setting propertyKey="@Properties.LocalTimeInCity" title="@Strings.LocalTimeInCityTitle">
		<settingConfig type="alphaNumeric"/>
	</setting>

	<setting propertyKey="@Properties.MoveBarStyle" title="@Strings.MoveBarStyleTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.AllSegments</listEntry>
			<listEntry value="1">@Strings.FilledSegments</listEntry>
			<listEntry value="2">@Strings.RecoveryTime</listEntry>
			<listEntry value="3">@Strings.Hidden</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.TeslaLink" title="@Strings.TeslaLink">
		<settingConfig type="boolean"/>
	</setting>

	<setting propertyKey="@Properties.TeslaVehicleIndex" title="@Strings.TeslaVehicleIndex">
		<settingConfig type="numeric" min="1" max="16" required="true"/>
	</setting>

	<setting propertyKey="@Properties.TeslaAccessToken" title="@Strings.TeslaAccessToken">
		<settingConfig type="alphaNumeric" maxLength="2048"/>
	</setting>

	<setting propertyKey="@Properties.TeslaRefreshToken" title="@Strings.TeslaRefreshToken">
		<settingConfig type="alphaNumeric" maxLength="2048"/>
	</setting>
	<setting propertyKey="@Properties.TeslaServerAPILocation" title="@Strings.Tesla_api_server_location_label" prompt="@Strings.Tesla_server_location_prompt">
		<settingConfig type="alphaNumeric" />
	</setting>

	<setting propertyKey="@Properties.TeslaServerAUTHLocation" title="@Strings.Tesla_auth_server_location_label" prompt="@Strings.Tesla_server_location_prompt">
		<settingConfig type="alphaNumeric" />
	</setting>
</settings>
