<settings>

	<setting propertyKey="@Properties.BackgroundColour" title="@Strings.BackgroundColourTitle">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.ColourBlack</listEntry>
			<listEntry value="0x555555">@Strings.ColourDarkGray</listEntry>
			<listEntry value="0xAAAAAA">@Strings.ColourLightGray</listEntry>
			<listEntry value="0xFFFFFF">@Strings.ColourWhite</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.ThemeColour" title="@Strings.ThemeColourTitle">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.ColourBlack</listEntry>
			<listEntry value="0x0000FF">@Strings.ColourBlue</listEntry>
			<listEntry value="0xFF0000">@Strings.ColourRed</listEntry>
			<listEntry value="0x00AAFF">@Strings.ColourSkyBlue</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.LeftGoalType" title="@Strings.LeftGoalMeterTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Steps</listEntry>
			<listEntry value="1">@Strings.FloorsClimbed</listEntry>
			<listEntry value="2">@Strings.ActiveMinutes</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.RightGoalType" title="@Strings.RightGoalMeterTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Steps</listEntry>
			<listEntry value="1">@Strings.FloorsClimbed</listEntry>
			<listEntry value="2">@Strings.ActiveMinutes</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.AlwaysShowMoveBar" title="@Strings.AlwaysShowMoveBarTitle">
		<settingConfig type="boolean"/>
	</setting>

</settings>
